In [17]:
import pandas as pd

roster = pd.read_csv('St Louis Blues Roster.csv')
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [18]:
roster.columns = ['Player', 'Position', 'Age', 'Height', 'Weight', 'Experience', 'Birth Date', 'Salary', 'Draft']

In [19]:
roster.describe()

        Age  Weight     Salary
count 50.00   50.00      43.00
mean  26.04  193.72 1713255.81
std    4.24   17.70 2492748.09
min   19.00  154.00   70000.00
25%   23.00  183.00   80000.00
50%   26.00  193.00  350000.00
75%   29.00  205.75 2400000.00
max   35.00  230.00 9500000.00

In [22]:
%matplotlib
histogram = roster.hist()

Using matplotlib backend: Qt5Agg